/*
APEX Dropzone CSS
Author: Daniel Hochleitner
Version: 2.0.3
*/

.dz-message {
    font-size: 1.4em;
    font-weight: 400;
}

.dropzone .dz-preview.dz-image-preview {
    background: none;
}

.dz-style1 {
    border: 5px solid grey;
    background: white;
    overflow: auto;
}

.dz-style2 {
    border: 3px dashed #0087F7;
    border-radius: 5px;
    background: white;
    overflow: auto;
}

.dz-style3 {
    border: 3px dashed #ff0026;
    border-radius: 5px;
    background: white;
    overflow: auto;
}

.dz-style4 {
    border: 2px dashed #8E8E93;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #707070;
    overflow: auto;
}
