.dz-message {
    padding-top: 20px;
    font-size: 1.4em;
    font-weight: 400;
}

.dz-style1 {
    border: 5px solid grey;
    background: white;
    overflow: auto;
}

.dz-style2 {
    border: 3px dashed #0087F7;
    border-radius: 5px;
    background: white;
    overflow: auto;
}

.dz-style3 {
    border: 3px dashed #ff0026;
    border-radius: 5px;
    background: white;
    overflow: auto;
}
